<main class="forsidesidemenu">

<div class="sidemenu">
    <img class="sidemenuimg" src="/img/uploads/<%- homeMainResult.image %>" alt="A product">


<p>
    <h4 class="sidetitle"><%- homeMainResult.boligtitle %></h4>
    <br>
    <p>Bolig &#x33A1 <%- homeMainResult.boligsize %></p>
    <br>
    <p>Grund &#x33A1 <%- homeMainResult.grunareal %></p>
    <br>
    <p>Pris <%- homeMainResult.pris %></p>
    <br>
    <br>
    <p>Sagsnummer <%- homeMainResult.sagsnummer %></p>
    <br>
    <%- homeMainResult.price %> 
</p>
    <a id="righty" href="/product/<%- homeMainResult.id %>">Læs mere</a>
</div>
</main>