<% include ./partials/admin_header %>

    <section class="admin_content">
        <h1>Admin Panel | Monitors</h1>
        <form method="POST" enctype="multipart/form-data" class="admin_form_create_update">
            <legend>Add Monitor</legend>
            <fieldset>
            <label for="brand">Brand: </label>
            <input type="text" name="brand" id="brand" required>
        </fieldset>
        <fieldset>
            <label for="size">Size: </label>
            <input type="text" name="size" id="size" required>
        </fieldset>
        <fieldset>
            <label for="model_number">Model Number: </label>
            <input type="text" name="model_number" id="model_number" required>
        </fieldset>
        <fieldset>
            <label for="ports">Ports: </label>
            <input type="text" name="ports" id="ports" required>
        </fieldset>
        <button type="submit">Add</button>
        <small class="error_message"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></small>
        </form>

        <table class="admin_read_data_table">
            <thead>   
                <tr>
                    <th></th>
                    <th>Brand</th>
                    <th>Size</th>
                    <th>Model Number</th>
                    <th>Ports</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(result => { %>
                    <tr>
                        <td>
                            <a class="admin_edit" href="/editMonitors/<%= result.id %>">Edit</a>
                            <a class="admin_delete" href="/deleteMonitors/<%= result.id %>">Delete</a>
                        </td>
                        <td><%= result.brand %></td>
                        <td><%= result.size %></td>
                        <td><%= result.model_number %></td>
                        <td><%= result.ports %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

<% include ./partials/admin_footer %>