<% include ./partials/admin_header %>

    <section class="admin_content">
        <h1>Admin Panel | Boliger</h1>
        <form method="POST" enctype="multipart/form-data" class="admin_form_create_update">
            <legend>Opret et produkt</legend>
            <fieldset>
            <label for="sagsnummer">Sagsnummer: </label>
            <input type="text" name="sagsnummer" id="sagsnummer" required>
        </fieldset>
        <fieldset>
            <label for="boligtype">Boligtype: </label>
            <select name="boligtype">
                <option value="Villa">Villa</option>
                <option value="Rækkehus">Rækkehus</option>
                <option value="Lejlighed">Lejlighed</option>
                <option value="Landejendom">Landejendom</option>
          </select>
        </fieldset>
        <fieldset>
            <label for="boligsize">Boligstørrelse <small style="color: hotpink;">i &#x33A1</small>: </label>
            <input type="number" name="boligsize" id="boligsize" step="0.01" required>
        </fieldset>
        <fieldset>
            <label for="grunareal">Grundareal <small style="color: hotpink;">i &#x33A1</small>: </label>
            <input type="number" name="grunareal" id="grunareal" step="0.01" required>
        </fieldset>
        <fieldset>
            <label for="pris">Pris <small style="color: hotpink;">i DKK</small>: </label>
            <input type="number" name="pris" id="pris" required>
        </fieldset>
        <fieldset>
            <label for="brutto">Brutto <small style="color: hotpink;">i DKK</small>: </label>
            <input type="number" name="brutto" id="brutto" required>
        </fieldset>
        <fieldset>
            <label for="netto">Netto <small style="color: hotpink;">i DKK</small>: </label>
            <input type="number" name="netto" id="netto" required>
        </fieldset>
        <fieldset>
            <label for="boligtitle">Bolig Titel: </label>
            <input type="text" name="boligtitle" id="boligtitle" required>
        </fieldset>
        <fieldset>
            <label for="boligtext">Bolig Tekst: </label>
            <input type="text" name="boligtext" id="boligtext" required>
        </fieldset>
        <fieldset>
            <label for="postnr">Postnr: </label>
            <input type="number" name="postnr" id="postnr" required>
        </fieldset>
        <fieldset>
            <label for="by">By: </label>
            <input type="text" name="by" id="by" required>
        </fieldset>
        <fieldset>
            <label for="vej">Vej: </label>
            <input type="text" name="vej" id="vej" required>
        </fieldset>
        <fieldset>
            <label for="image">Billede:</label>
            <input type="file" name="image" id="image" required>
        </fieldset>
        <button type="submit">Opret</button>
        <small class="error_message"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></small>
        </form>

        <table class="admin_read_data_table">
            <thead>   
                <tr>
                    <th></th>
                    <th>Bolig Titel</th>
                    <th>Bolig Tekst</th>
                    <th>Sagsnummer</th>
                    <th>Boligtype</th>
                    <th>Boligstørrelse</th>
                    <th>Grundareal</th>
                    <th>Pris</th>
                    <th>Brutto</th>
                    <th>Netto</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(result => { %>
                    <tr>
                        <td>
                            <a class="admin_edit" href="/admin/editProduct/<%= result.image %>">Rediger</a>
                            <a class="admin_delete" href="/admin/deleteProduct/<%= result.id %>">Slet</a>
                        </td>
                        <td><%= result.boligtitle %></td>
                        <td id="admintext"><%= result.boligtext %></td>
                        <td><%= result.sagsnummer %></td>
                        <td><%= result.boligtype %></td>
                        <td><%= result.boligsize %> <small style="color: hotpink;"> &#x33A1</small></td>
                        <td><%= result.grunareal %> <small style="color: hotpink;"> &#x33A1</small</td>
                        <td><%= result.pris %> kr</td>
                        <td><%= result.brutto %> kr</td>
                        <td><%= result.netto %> kr</td>
                        <td><%= result.vej %> - <%= result.postnr %> <%= result.by %></td>
                        <td><img class="listimage" src="/img/uploads/<%= result.image %>" alt=""></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

<% include ./partials/admin_footer %>