<% include ./partials/admin_header %>

        <section class="admin_content">
            <form method="POST" class="admin_form_create_update">
                <legend>Rediger oplysninger</legend>
                
                <label for="navn">Firmanavn:</label>
                <input type="text" name="navn" id="navn" value="<%= result.navn %>">
    
                <label for="adresse">Adresse:</label>
                <input type="text" name="adresse" id="adresse" value="<%= result.adresse %>">

                <label for="postnr">Postnummer:</label>
                <input type="text" name="postnr" id="postnr" value="<%= result.postnr %>">
                
                <label for="city">By:</label>
                <input type="text" name="city" id="city" value="<%= result.city %>">

                <label for="telefon">Telefon:</label>
                <input type="text" name="telefon" id="telefon" value="<%= result.telefon %>">

                <label for="fax">Fax:</label>
                <input type="text" name="fax" id="fax" value="<%= result.fax %>">

                <label for="email">Email:</label>
                <input type="text" name="email" id="email" value="<%= result.email %>">

                <button type="submit">Rediger</button>
            </form>
        </section>

<% include ./partials/admin_footer %>