<% include ./partials/admin_header %>

    <section class="admin_content">
        <h1>Admin Panel | Beskeder</h1>
        <table class="admin_read_data_table">
            <thead>   
                <tr>
                    <th></th>
                    <th>Navn</th>
                    <th>Kommentar</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(results => { %>
                    <tr>
                        <td>
                            <a class="admin_delete" href="/admin/deleteMessage/<%= results.id %>">Slet</a>
                        </td>
                        <td><%= results.navn %></td>
                        <td><%= results.kommentar %></td>
                        <td><%= results.email %></td>
                        <td><%= results.adresse %></td>
                        <td><%= results.telefon %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

<% include ./partials/admin_footer %>