<% include ./partials/admin_header %>

    <section class="admin_content">
        <h1>Admin Panel | Nyheder</h1>
        <form method="POST" enctype="multipart/form-data" class="admin_form_create_update">
            <legend>Opret en nyhed</legend>
            <fieldset>
            <label for="overskrift">Overskrift: </label>
            <input type="text" name="overskrift" id="overskrift" required>
        </fieldset>
        </fieldset>
        <fieldset>
            <label for="dato">Dato:</label>
            <input type="date" name="dato" id="dato" required>
        </fieldset>
        <fieldset>
            <label for="tekst">Tekst: </label>
            <input type="text" name="tekst" id="tekst"required>
        </fieldset>
        <button type="submit">Opret</button>
        <small class="error_message"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></small>
        </form>

        <table class="admin_read_data_table">
            <thead>   
                <tr>
                    <th></th>
                    <th>Overskrift</th>
                    <th>Tekst</th>
                    <th>Dato</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(results => { %>
                    <tr>
                        <td>
                            <a class="admin_edit" href="/admin/editNyhed/<%= results.id %>">Rediger</a>
                            <a class="admin_delete" href="/admin/deleteNyhed/<%= results.id %>">Slet</a>
                        </td>
                        <td><%= results.overskrift %></td>
                        <td class="admintext"><%= results.tekst %></td>
                        <td><%= results.dato %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

<% include ./partials/admin_footer %>