<% include ./partials/admin_header %>
        <section class="admin_content">
                <form method="POST" enctype="multipart/form-data" class="admin_form_create_update">
                    <legend>Rediger bolig:</legend>
                    <label for="sagsnummer">Sagsnummer: </label>
                    <input type="text" name="sagsnummer" id="sagsnummer" value="<%= result.sagsnummer %>" required>
                </fieldset>
                <fieldset>
                    <label for="boligtype">Boligtype: </label>
                    <select name="boligtype" value="<%= result.boligtype %>">
                        <option value="Villa">Villa</option>
                        <option value="Rækkehus">Rækkehus</option>
                        <option value="Lejlighed">Lejlighed</option>
                        <option value="Landejendom">Landejendom</option>
                  </select>
                </fieldset>
                <fieldset>
                    <label for="boligsize">Boligstørrelse <small style="color: hotpink;">i &#x33A1</small>: </label>
                    <input type="number" name="boligsize" id="boligsize" step="0.01" value="<%= result.boligsize %>" required>
                </fieldset>
                <fieldset>
                    <label for="grunareal">Grundareal <small style="color: hotpink;">i &#x33A1</small>: </label>
                    <input type="number" name="grunareal" id="grunareal" step="0.01" value="<%= result.grunareal %>" required>
                </fieldset>
                <fieldset>
                    <label for="pris">Pris <small style="color: hotpink;">i DKK</small>: </label>
                    <input type="number" name="pris" id="pris" value="<%= result.pris %>" required>
                </fieldset>
                <fieldset>
                    <label for="brutto">Brutto <small style="color: hotpink;">i DKK</small>: </label>
                    <input type="number" name="brutto" id="brutto" value="<%= result.brutto %>" required>
                </fieldset>
                <fieldset>
                    <label for="netto">Netto <small style="color: hotpink;">i DKK</small>: </label>
                    <input type="number" name="netto" id="netto" value="<%= result.netto %>" required>
                </fieldset>
                <fieldset>
                    <label for="boligtitle">Bolig Titel: </label>
                    <input type="text" name="boligtitle" id="boligtitle" value="<%= result.boligtitle %>" required>
                </fieldset>
                <fieldset>
                    <label for="boligtext">Bolig Tekst: </label>
                    <input type="text" name="boligtext" id="boligtext" value="<%= result.boligtext %>" required>
                </fieldset>
                <fieldset>
                    <label for="postnr">Postnr: </label>
                    <input type="number" name="postnr" id="postnr" value="<%= result.postnr %>" required>
                </fieldset>
                <fieldset>
                    <label for="by">By: </label>
                    <input type="text" name="by" id="by" value="<%= result.by %>" required>
                </fieldset>
                <fieldset>
                    <label for="vej">Vej: </label>
                    <input type="text" name="vej" id="vej" value="<%= result.vej %>" required>
                </fieldset>
                <button type="submit">Rediger</button>
                <small class="error_message"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></small>
                </form>
                <p class="error_message"></p>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="/img/uploads/<%= result.image %>" alt="">
                <form action="/admin/editProduct/image/<%= result.image %>" method="POST" enctype="multipart/form-data" class="admin_form_create_update">
                    <legend>Rediger billede for dette Produkt</legend>
                    <label for="image">Billede:</label>
                    <input type="file" name="image" id="image" required>
                    <button type="submit">Rediger Billede</button>
                </form>
        </section>

<% include ./partials/admin_footer %>